# This is Git's per-user configuration file.
[user]
	name = Quinn Herden
	email = 55929299+QuinnHerden@users.noreply.github.com
[credential]
	helper = osxkeychain
[init]
	defaultBranch = main
[color]
	ui = auto
[pull]
	rebase = false
[core]
	excludesfile = /Users/quinnherden/.gitignore_global
